* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Serif", serif;
}

header .container {
    display: flex;
    justify-content: center;
}

.title {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5em;
    margin-top: 15px;
}

.lines {
    display: block;
    width: 100%;
    padding: 1px;
    margin: 12px 0 24px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav div a,
nav li,
#LangEng a,
#LangPort a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
    border-bottom: 2px solid white;
    transition: border-bottom 0.15s;
}



nav a:hover {
    border-bottom: 2px solid black;
}

nav img {
    width: 12px;
    margin-left: 5px;
}

.langList {
    margin: 0;
    padding: 0;
}

#dropdown {
    margin: 0;
    padding: 0;
    text-align: left;
    display: none;
}

#dropdown li {
    margin: 5px 0;
    border-bottom: none;
    font-size: 0.9em;

}

#LangEng a:hover,
#LangPort a:hover {
    cursor: pointer;
    color: #979797;
}


.post {
    width: 240px;
    margin: 20px auto;
}

.post h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.post p {
    font-size: 0.8em;
    font-weight: 300;
}


aside {
    border-left: 1px solid #979797;
}

.asidePosts {
    width: 200px;
    margin: 20px auto;
}

.asidePosts h2 {
    font-size: 1.1em;
    font-weight: 700;
}

.asidePosts p {
    font-size: 0.75em;
    font-weight: 300;
}

footer {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    border-top: 2px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    height: 4px;
    margin-top: 40px;
}

.footerText {
    border: none;
    width: 100%;
}

.footerTextTwo {
    width: 20%;
    display: flex;
    justify-content: center;
}


.col>p {
    text-align: center;
}


footer h2 {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2em;
    margin-bottom: 24px;
}

footer button {
    border: 1px solid #326891;
    border-radius: 4px;
    background-color: #567b95;
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    transition: background-color .4s;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button a {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    text-decoration: none;
}

footer button:hover {
    background-color: #326891;
    cursor: pointer;
}