* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Serif", serif;
}

h1 {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    margin: 150px;
}